* {
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
    font-size: 62.5%;
} /* Reset Rule */

html {
    scroll-behavior: smooth;
}

body {
    color: #222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*

=====================================

            Introduction

=====================================

*/

.introContainer {
    width: 100%;
    margin-bottom: 72px;
}

.introHeaderImageContainer {
    width: 100%;
    height: 300px;
    background-image: url(/images/cyberImage.jpg);
    filter: brightness(.75);
    background-size: cover;
    background-position: bottom;
    margin-bottom: 36px;
}

.introContentContainer {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    gap: 36px;
    padding-top: 72px;
    margin: 0 auto;
}

.introImageContainer {
    width: 90%;
    border-radius: 45px;
    overflow: hidden;
    box-shadow: -8px -4px 20px rgba(0, 0, 0, 0.2);
}

.introImageContainer > img {
    width: 100%;
    border-radius: 45px;
}

.introContainer > h1 {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    color: #2fd4d0;
    line-height: 1.3;
}

.introContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.introContent > p {
    line-height: 1.5;
}

/*

=====================================

                Details

=====================================

*/

.detailsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 144px;
    padding: 72px 0;
    background: linear-gradient(105deg, #EEE 0%, #EAEAEA 25%, #FFF 60%, rgba(0, 0, 0, 0) 100%);
}

.detailsContentContainer {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 24px;
}

.detailsImageContainer {
    order: 1;
    max-width: 800px;
    overflow: hidden;
    box-shadow: -8px -4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 45px;
}

.detailsImageContainer > img {
    width: 100%;
    border-radius: 45px;
}

.detailsContent {
    order: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.detailsHeading {
    color: #2fd4d0;
}

.detailsText {
    line-height: 1.5;
}

.detailsContentContainer:nth-of-type(even) .detailsImageContainer {
    order: 2;
    justify-self: right;
    box-shadow: 8px 4px 20px rgba(0, 0, 0, 0.2);
}

.detailsContentContainer:nth-of-type(even) {
    grid-template-columns: 1fr 1.5fr;
}

.detailsContentContainer:nth-of-type(even) .detailsContent {
    order: 1;
}

/*

=====================================

                Next Step

=====================================

*/

.nextStepContainer {
    width: 100%;
    height: 300px;
    background-image: url(/images/footerBackground.png);
    background-size: 150%;
    background-position: 90% 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextStepContent {
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-align: center;
}

.nextStepContent > h1 {
    color: white;
    max-width: 800px;
    line-height: 1.5;
}

.nextStepCTAButton {
    padding: 24px 0;
    text-align: center;
}

.nextStepCTAButton > a {
    color: white;
    text-decoration: none;
    border-radius: 24px;
    padding: 12px 24px;
    background-color: #33ece9;
    transition: background-color 150ms ease-in-out;
}

.nextStepCTAButton > a:hover {
    background-color: #00c0d4;
}

/*

=====================================

            Media Queries

=====================================

*/

@media (max-width: 3840px) {
    .introContainer > h1 {
        font-size: 5rem;
    }

    .introContent > h2 {
        font-size: 2.6rem;
    }

    .introContent > p {
        font-size: 1.8rem;
    }

    .detailsHeading {
        font-size: 4rem;
    }

    .detailsText {
        font-size: 2rem;
    }

    .nextStepContent > h1 {
        font-size: 2.8rem;
    }

    .nextStepCTAButton > a {
        font-size: 2rem;
    }
}

@media (max-width: 1600px) {
    .detailsContentContainer {
        width: 1400px;
        max-width: 95%;
    }
}

@media (max-width: 1280px) {
    .introContentContainer {
        grid-template-columns: 1fr;
        max-width: 70%;
        margin: 0 auto;
        gap: 48px;
    }

    .introImageContainer {
        justify-self: center;
    }

    .detailsContentContainer {
        grid-template-columns: 1fr;
    }

    .detailsImageContainer {
        justify-self: center;
    }

    .detailsContentContainer:nth-of-type(even) .detailsImageContainer {
        order: 1;
        justify-self: center;
    }

    .detailsContentContainer:nth-of-type(even) {
        grid-template-columns: 1fr;
    }

    .detailsContentContainer:nth-of-type(even) .detailsContent {
        order: 2;
    }

    .detailsContent {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 968px) {
    .introContainer > h1 {
        max-width: 95%;
        margin: 0 auto;
        font-size: 4rem;
    }

    .detailsHeading {
        font-size: 3.6rem;
    }

    .detailsText {
        font-size: 1.8rem;
    }
}

@media(max-width: 600px) {
    .introContentContainer {
        max-width: 90%;
        margin: 0 auto;
    }

    .introContainer > h1 {
        font-size: 3.2rem;
    }

    .introContent {
        text-align: center;
    }

    .detailsHeading {
        font-size: 3.2rem;
    }

    .detailsText {
        font-size: 1.6rem;
    }

    .nextStepContainer {
        background-size: 200%;
        background-position: 90% 30%;
    }

    .nextStepContent > h1 {
        font-size: 1.8rem;
    }

    .nextStepCTAButton > a {
        font-size: 1.8rem;
    }
}
