/*

=====================================

                Scroll Bar

=====================================

*/

::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #444; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 15px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #AAA; 
}

/*

=====================================

                Header

=====================================

*/

.headerContainer {
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0px;
    background-color: rgba(68, 68, 68, .7);
    border-bottom: 2px solid #2fd4d0;
    z-index: 999;
}

.headerContainer a {
    text-decoration: none;
}

.headerDesktop {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*

=====================================

                Logo

=====================================

*/

.logoContainer {
    width: 80px;
    height: 80px;
    margin-left: 12px;
}

.logoContainer > a > img {
    width: 100%;
    height: 100%;
    transition: filter 300ms ease-in-out;
}

.logoContainer > a:hover img {
    filter: brightness(1.5);
}

/*

=====================================

            Navigation

=====================================

*/

.headerDesktop > ul {
    display: flex;
    justify-content: right;
    gap: 24px;
    list-style: none;
    padding-right: 12px;
}

.headerDesktop ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 8px;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.headerDesktop ul li a:hover {
    color: black;
    background-color: #2fd4d0;
}

#AboutUsArrow {
    gap: 8px;
}

#AboutUsArrow > svg {
    width: 16px; height: 16px;
    transition: transform 300ms ease-in-out;
}

#AboutUsArrow:hover > svg {
    transform: rotate(180deg);
}

/*

=====================================

            Media Queries

=====================================

*/

@media(max-width: 480px) {
    .headerDesktop {
        display: none;
    }

    .headerMobile {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .logoContainer {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logoContainer > a > img {
        width: 80px;
        height: 80px;
    }

    .navMobileExpandContainer {
        position: absolute;
        top: 100px;
        opacity: 0;
        width: 100%; height: auto;
        background-color: #021423;
        transition: all 500ms ease-in-out;
    }

    .navHamburger {
        position: absolute;
        top: 35px; left: 25px;
    }

    #navHamburger {
        width: 30px; height: 35px;
        background-color: #ffffff00;
        overflow: hidden;
        position: relative;
    }
    
    .navHIcons {
        width: 30px; height: 4px;
        background-color: white;
        position: absolute;
        transition: all 500ms ease-in-out;
    }
    
    .menuClosed .navIcon1 {
        top: 0px; left: 0px;
    }
    
    .menuClosed .navIcon2 {
        top: 12.5px; left: 0px;
    }
    
    .menuClosed .navIcon3 {
        top: 25px; left: 0px;
    }
    
    .menuClosed .navIcon4 {
        opacity: 0;
        transform: rotate(45deg);
        top: 11px; left: 59px;
    }
    
    .menuClosed .navIcon5 {
        opacity: 0;
        transform: rotate(-45deg);
        top: 11px; left: 59px;
    }
    
    .menuOpened .navIcon1 {
        top: 0px; left: -90px;
    }
    
    .menuOpened .navIcon2 {
        top: 12.5px; left: -65px;
    }
    
    .menuOpened .navIcon3 {
        top: 25px; left: -40px;
    }
    
    .menuOpened .navIcon4 {
        opacity: 1;
        top: 11px; left: -1px;
        transform: rotate(45deg);
    }
    
    .menuOpened .navIcon5 {
        opacity: 1;
        top: 11px; left: -1px;
        transform: rotate(-45deg);
    }

    .navMobileList ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .navMobileList li {
        width: 100%; height: 75px;
        border-bottom: 2px solid #2fd4d0;
    }
    
    .navMobileList li a {
        width: 100%; height: 100%;
        padding-left: 10px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        font-size: 2.4rem;
    }
}

@media(min-width: 481px) {
    .headerMobile {
        display: none;
    }
}