* {
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
    font-size: 62.5%;
} /* Reset Rule */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EEE;
    color: #222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/*

=====================================

            Hero Container

=====================================

*/

.heroContainer {
    height: calc(85vh - 100px);
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hImg {
    background-image: url(/images/heroImage.jpg);
    background-size: cover;
    background-position: 0% 40%;
}

/*

=====================================

            Hero Text/CTA

=====================================

*/

.heroContentContainer {
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 5%;
}

/* Colors are temporary, should be changed in the future */

.heroHeader {
    font-size: 7.2rem;
    color: #00a89d;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    transform: skew(-20deg);
}

.heroHeader > span {
    font-size: 6rem;
    color: #2fd4d0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.heroCTAButton {
    position: absolute;
    bottom: 10%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.heroCTAButton > a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    white-space: nowrap;
    background-color: #2fd4d0;
    padding: 16px 32px;
    border-radius: 24px;
    transition: background-color 150ms ease-in-out;
}

.heroCTAButton > a:hover {
    background-color: #33ece9;
}