* {
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
    font-size: 62.5%;
} /* Reset Rule */

html {
    scroll-behavior: smooth;
}

body {
    color: #222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

/*

=====================================

            Hero Container

=====================================

*/

.heroContainer {
    height: calc(65vh - 100px);
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hImg {
    background-image: url(/images/heroImage.jpg);
    background-size: cover;
    background-position: 0% 40%;
}

/*

=====================================

            Hero Text/CTA

=====================================

*/

.heroContentBackground {
    height: 100%;
    z-index: 2;
    background: linear-gradient(105deg, #111 0%, #1A1A1A 35%, #222 50%, rgba(0, 0, 0, 0) 100%);
    position: relative;
}

.headerContentContainer {
    position: absolute;
    max-width: 40%;
    top: 50%;
    left: 5%;
    transform: translateY(-60%);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.heroHeader {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

.heroHeader > span {
    color: #33ece9;
}

.heroText {
    color: white;
    padding-left: 24px;
    padding-bottom: 16px;
}

.heroCTAButton {
    text-align: right;
    padding-right: 12px;
}

.heroCTAButton > a {
    text-decoration: none;
    color: white;
    background-color: #00c0d4;
    padding: 16px 32px;
    border-radius: 24px;
    transition: background-color 150ms ease-in-out;
}

.heroCTAButton > a:hover {
    background-color: #33ece9;
}

/*

=====================================

            Services Container

=====================================

*/

.servicesContainer {
    max-width: 1600px;
    margin: 72px auto 72px auto;
}

.servicesContainer > h1 {
    text-align: center;
    padding-bottom: 12px;
}

.serviceCardsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

/*

=====================================

            Services Card

=====================================

*/

.serviceCard {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    max-width: 300px;
    align-items: center;
    padding: 12px;
    gap: 12px;
    background-color: #fafafa;
    border-radius: 12px;
}

.serviceCardImg {
    width: 90%;
    margin: 0 auto;
}

.serviceCardImg > img {
    width: 100%;
}

.serviceCard > h2 {
    min-height: 75px;
}

.serviceCard > h2, .serviceCard > p {
    max-width: 90%;
    text-align: center;
}

.serviceCard > p {
    min-height: 150px;
}

.serviceCard > a {
    text-decoration: none;
    color: white;
    white-space: nowrap;
    background-color: #00c0d4;
    padding: 16px 32px;
    border-radius: 24px;
    transition: background-color 150ms ease-in-out;
}

.serviceCard > a:hover {
    background-color: #33ece9;
}

/*

=====================================

            Intro Section

=====================================

*/

.introContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 144px;
    padding: 72px 0;
    background: linear-gradient(105deg, #EEE 0%, #EAEAEA 25%, #FFF 60%, rgba(0, 0, 0, 0) 100%);
}

.introBlockContainer {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 24px;
}

.introImageContainer {
    order: 1;
    max-width: 800px;
    overflow: hidden;
    box-shadow: -8px -4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 45px;
}

.introImageContainer > img {
    width: 100%;
    border-radius: 45px;
}

.introContentContainer {
    order: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.introText {
    line-height: 1.5;
}

.introCTAButtonContainer {
    padding: 32px 32px 16px 0;
    align-self: start;
}

.introCTAButton {
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    background-color: #00c0d4;
    border-radius: 24px;
    transition: background-color 150ms ease-in-out;
}

.introCTAButton:hover {
    background-color: #33ece9;
    cursor: pointer;
}

.introBlockContainer:nth-of-type(even) .introImageContainer {
    order: 2;
    justify-self: right;
    box-shadow: 8px 4px 20px rgba(0, 0, 0, 0.2);
}

.introBlockContainer:nth-of-type(even) {
    grid-template-columns: 1fr 1.5fr;
}

.introBlockContainer:nth-of-type(even) .introCTAButtonContainer {
    align-self: end;
}

.introBlockContainer:nth-of-type(even) .introContentContainer {
    order: 1;
}

/*

=====================================

            Customer Reviews

=====================================

*/

.reviewContainer {
    width: 100%;
    margin: 0 auto;
    padding: 48px 0 72px 0;
    background-color: #021523;
}

.reviewContainer > h1 {
    text-align: center;
    color: white;
    padding-bottom: 24px;
}

.reviewContainer > p {
    text-align: center;
    color: white;
    padding-bottom: 36px;
    max-width: 800px;
    margin: 0 auto;
}

.outerCustomerReviewContainer {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.customerReviewContainer {
    width: 450px;
    background-color: #FFF;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.customerContainer {
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.customerImageContainer {
    max-width: 100px;
    border-radius: 90px;
    overflow: hidden;
    justify-self: right;
}

.customerImageContainer > img {
    width: 100%;
    border-radius: 90px;
}

.customerInfoContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.customerInfoContainer > h2 {
    font-weight: unset;
}

.customerReview {
    max-width: 300px;
    margin: 0 auto;
}

.customerCTAButton {
    padding-top: 48px;
    text-align: center;
    margin: 0 auto;
    border-radius: 24px;
}

.customerCTAButton > a {
    color: white;
    text-decoration: none;
    border-radius: 24px;
    padding: 12px 24px;
    background-color: #00c0d4;
    transition: background-color 150ms ease-in-out;
}

.customerCTAButton > a:hover {
    background-color: #33ece9;
}

/*

=====================================

                Contact

=====================================

*/

.contactContainer {
    width: 100%;
    height: 350px;
    background-image: url(/images/contactImage.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactHeaderContainer {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
    padding: 12px 12px 24px 12px;
    border-radius: 12px;
}

.contactCTAButton {
    padding-top: 24px;
    text-align: center;
    margin: 0 auto;
    border-radius: 24px;
}

.contactCTAButton > a {
    color: white;
    text-decoration: none;
    border-radius: 24px;
    padding: 12px 24px;
    background-color: #00c0d4;
    transition: background-color 150ms ease-in-out;
}

.contactCTAButton > a:hover {
    background-color: #33ece9;
}

/*

=====================================

            Media Queries

=====================================

*/

@media (max-width: 3840px) {
    .heroHeader {
        font-size: 8rem;
    }

    .heroHeader > span {
        font-size: 8rem;
    }

    .heroText {
        font-size: 2.8rem;
    }

    .heroCTAButton > a {
        font-size: 2.4rem;
    }

    .servicesContainer > h1 {
        font-size: 4.8rem;
    }

    .serviceCard > h2 {
        font-size: 2.4rem;
    }

    .serviceCard > p {
        min-height: 175px;
        font-size: 1.8rem;
    }

    .serviceCard > a {
        font-size: 2rem;
    }

    .introHeader {
        font-size: 4rem;
    }

    .introText {
        font-size: 2rem;
    }

    .introCTAButton {
        font-size: 2rem;
    }

    .reviewContainer > h1 {
        font-size: 4rem;
    }

    .reviewContainer > p {
        font-size: 1.6rem;
    }

    .customerInfoContainer > h1 {
        font-size: 2rem;
    }

    .customerInfoContainer > h2 {
        font-size: 1.4rem;
    }

    .customerReview {
        font-size: 1.6rem;
    }

    .customerCTAButton > a {
        font-size: 2rem;
    }

    .contactContainer {
        background-position: 50% 45%;
    }

    .contactHeaderContainer > h1 {
        font-size: 4rem;
    }

    .contactHeaderContainer > p {
        font-size: 1.6rem;
    }

    .contactCTAButton > a {
        font-size: 2rem;
    }
}

@media (max-width: 1920px) {
    .heroHeader {
        font-size: 6.4rem;
    }

    .heroHeader > span {
        font-size: 6.4rem;
    }

    .heroText {
        font-size: 2.4rem;
    }

    .heroCTAButton > a {
        font-size: 2rem;
    }

    .servicesContainer > h1 {
        font-size: 4rem;
    }

    .serviceCard > h2 {
        font-size: 2.2rem;
    }

    .serviceCard > p {
        min-height: 175px;
        font-size: 1.8rem;
    }

    .serviceCard > a {
        font-size: 2rem;
    }
}

@media (max-width: 1600px) {
    .heroHeader {
        font-size: 5.6rem;
    }

    .heroHeader > span {
        font-size: 5.6rem;
    }

    .servicesContainer {
        max-width: 95%;
        margin: 72px auto;
    }

    .introBlockContainer {
        max-width: 95%;
    }

    .introHeader {
        font-size: 4rem;
    }

    .introText {
        font-size: 2rem;
    }

    .introCTAButton {
        font-size: 2rem;
    }
}

@media (max-width: 1440px) {
    .heroHeader {
        font-size: 4.8rem;
    }

    .heroHeader > span {
        font-size: 4.8rem;
    }

    .heroText {
        font-size: 2.2rem;
    }

    .heroCTAButton > a {
        font-size: 2rem;
    }
}

@media (max-width: 1280px) {
    .hImg {
        background-size: 120%;
        background-position: 15% 50%;
    }
    
    .heroContentBackground {
        background: linear-gradient(105deg, #111 0%, #1A1A1A 45%, #222 55%, rgba(0, 0, 0, 0) 100%);
    }

    .headerContentContainer {
        max-width: 45%;
    }

    .heroHeader {
        font-size: 4.4rem;
    }

    .heroHeader > span {
        font-size: 4.4rem;
    }

    .heroText {
        font-size: 2rem;
    }

    .heroCTAButton > a {
        font-size: 1.8rem;
    }

    .introContainer {
        gap: 72px;
    }

    .introBlockContainer {
        grid-template-columns: 1fr;
    }

    .introBlockContainer:nth-of-type(even) .introImageContainer {
        order: 1;
        justify-self: center;
    }

    .introBlockContainer:nth-of-type(even) {
        grid-template-columns: 1fr;
    }

    .introBlockContainer:nth-of-type(even) .introContentContainer {
        order: 2;
    }

    .introImageContainer {
        justify-self: center;
    }

    .introContentContainer {
        max-width: 80%;
        margin: 0 auto;
    }

    .introCTAButtonContainer {
        padding: 32px 0 16px 0;
        align-self: start;
    }
}

@media (max-width: 968px) {
    .hImg {
        background-size: 160%;
        background-position: 40% 50%;
    }

    .headerContentContainer {
        max-width: 50%;
    }

    .heroHeader {
        font-size: 3.6rem;
    }

    .heroHeader > span {
        font-size: 3.6rem;
    }

    .heroText {
        font-size: 1.8rem;
    }

    .heroCTAButton > a {
        font-size: 1.6rem;
    }

    .servicesContainer > h1 {
        font-size: 3.6rem;
    }

    .serviceCard > h2 {
        font-size: 2rem;
    }

    .serviceCard > p {
        min-height: 150px;
        font-size: 1.6rem;
    }

    .introHeader {
        font-size: 3.6rem;
    }

    .introText {
        font-size: 1.8rem;
    }

    .introCTAButton {
        font-size: 2rem;
    }

    .reviewContainer > p {
        max-width: 95%;
    }

    .outerCustomerReviewContainer {
        width: 95%;
        flex-flow: column nowrap;
        align-items: center;
        gap: 24px;
    }

    .reviewContainer > h1 {
        font-size: 4rem;
    }

    .reviewContainer > p {
        font-size: 1.6rem;
    }

    .customerInfoContainer > h1 {
        font-size: 2rem;
    }

    .customerInfoContainer > h2 {
        font-size: 1.4rem;
    }

    .customerReview {
        font-size: 1.6rem;
    }

    .customerCTAButton > a {
        font-size: 2rem;
    }

    .contactHeaderContainer {
        max-width: 95%;
    }

    .contactHeaderContainer > h1 {
        font-size: 3rem;
    }

    .contactHeaderContainer > p {
        font-size: 1.4rem;
    }

    .contactCTAButton > a {
        font-size: 1.8rem;
    }
}

@media(max-width: 600px) {
    .heroContainer {
        height: calc(85vh - 100px);
    }

    .hImg {
        background-image: url(/images/heroImage.jpg);
        background-size: 300%;
        background-position: 60% 70%;
    }

    .heroContentBackground {
        background: linear-gradient(105deg, #111 0%, #1A1A1A 20%, #222 30%, rgba(0, 0, 0, 0) 100%);
    }
    
    .headerContentContainer {
        height: 100%;
        position: relative;
        top: 0; bottom: 0; left: 0; right: 0;
        max-width: 90%;
        transform: unset;
        margin: 0 auto;
        justify-content: center;
    }

    .heroText {
        padding-left: 0;
    }

    .heroCTAButton {
        text-align: center;
    }

    .serviceCard {
        flex: 1 1 300px;
        max-width: 300px;
    }

    .servicesContainer > h1 {
        font-size: 4rem;
    }

    .serviceCard > h2 {
        font-size: 2.2rem;
    }

    .serviceCard > p {
        min-height: 175px;
        font-size: 1.8rem;
    }

    .serviceCard > a {
        font-size: 2rem;
    }

    .introContentContainer {
        max-width: 90%;
    }

    .introHeader {
        font-size: 3.2rem;
    }

    .introText {
        font-size: 1.6rem;
    }

    .introCTAButton {
        font-size: 1.8rem;
    }

    .customerReviewContainer {
        max-width: 95%;
    }

    .contactHeaderContainer > h1 {
        font-size: 2.8rem;
    }

    .contactHeaderContainer > p {
        font-size: 1.4rem;
    }

    .contactCTAButton > a {
        font-size: 1.8rem;
    }
}